{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-header">
    <h3 class="fw-bold mb-3">Livreurs</h3>
    <ul class="breadcrumbs mb-3">
    <li class="nav-home">
        <a href="{% url "home" %}">
        <i class="icon-home"></i>
        </a>
    </li>
    <li class="separator">
        <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
        <a href="#">Liste des Livreurs</a>
    </li>
    </ul>
</div>

{% comment %} Card {% endcomment %}

 <div class="row">
    <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
        <div class="card-body">
        <div class="row">
            <div class="col-5">
            <div class="icon-big text-center">
                <i class="icon-pie-chart text-warning"></i>
            </div>
            </div>
            <div class="col-7 col-stats">
            <div class="numbers">
                <p class="card-category">Total livreurs</p>
                <h4 class="card-title">18</h4>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
        <div class="card-body">
        <div class="row">
            <div class="col-5">
            <div class="icon-big text-center">
                <i class="icon-wallet text-success"></i>
            </div>
            </div>
            <div class="col-7 col-stats">
            <div class="numbers">
                <p class="card-category">Disponibles</p>
                <h4 class="card-title">9</h4>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
        <div class="card-body">
        <div class="row">
            <div class="col-5">
            <div class="icon-big text-center">
                <i class="icon-close text-danger"></i>
            </div>
            </div>
            <div class="col-7 col-stats">
            <div class="numbers">
                <p class="card-category">En livraison</p>
                <h4 class="card-title">6</h4>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
        <div class="card-body">
        <div class="row">
            <div class="col-5">
            <div class="icon-big text-center">
                <i class="icon-social-twitter text-primary"></i>
            </div>
            </div>
            <div class="col-7 col-stats">
            <div class="numbers">
                <p class="card-category">Inactifs</p>
                <h4 class="card-title">3</h4>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

{% comment %} ------------------------------------------ {% endcomment %}

{% comment %} Bouton {% endcomment %}
<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
    <div class="ms-md-auto py-2 py-md-0">
        <a href="#" class="btn btn-label-info btn-round me-2">Rapports</a>
        <a href="{% url 'livreur_create' %}" class="btn btn-primary btn-round">Nouveau livreur</a>
    </div>
</div>

{% comment %} ------------------------------------------ {% endcomment %}

<div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Multi Filter Select</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        id="multi-filter-select"
                        class="display table table-striped table-hover"
                      >
                        <thead>
                          <tr>
                            <th>Nom</th>
                            <th>Téléphone</th>
                            <th>Plaque moto</th>
                            <th>État</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Nom</th>
                            <th>Téléphone</th>
                            <th>Plaque moto</th>
                            <th>État</th>
                            <th>Actions</th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <tr>
                            <td>Ibrahim S.</td>
                            <td>77 111 22 33</td>
                            <td>DK-1245-A</td>
                            <td><span class="badge badge-success">Disponible</span></td>
                            <td>
                              <div class="form-button-action">
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Modifier"><i class="fa fa-edit"></i></button>
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Supprimer"><i class="fa fa-times"></i></button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>Moussa T.</td>
                            <td>78 444 55 66</td>
                            <td>DK-8832-B</td>
                            <td><span class="badge badge-warning">En livraison</span></td>
                            <td>
                              <div class="form-button-action">
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Modifier"><i class="fa fa-edit"></i></button>
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Supprimer"><i class="fa fa-times"></i></button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>Oumar B.</td>
                            <td>76 777 88 99</td>
                            <td>DK-5567-C</td>
                            <td><span class="badge badge-success">Disponible</span></td>
                            <td>
                              <div class="form-button-action">
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Modifier"><i class="fa fa-edit"></i></button>
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Supprimer"><i class="fa fa-times"></i></button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>Cheikh D.</td>
                            <td>70 123 45 67</td>
                            <td>DK-9981-D</td>
                            <td><span class="badge badge-warning">En livraison</span></td>
                            <td>
                              <div class="form-button-action">
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Modifier"><i class="fa fa-edit"></i></button>
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Supprimer"><i class="fa fa-times"></i></button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>Amadou G.</td>
                            <td>75 222 33 44</td>
                            <td>DK-3344-E</td>
                            <td><span class="badge badge-danger">Inactif</span></td>
                            <td>
                              <div class="form-button-action">
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Modifier"><i class="fa fa-edit"></i></button>
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Supprimer"><i class="fa fa-times"></i></button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>Boubacar N.</td>
                            <td>77 888 99 00</td>
                            <td>DK-7712-F</td>
                            <td><span class="badge badge-success">Disponible</span></td>
                            <td>
                              <div class="form-button-action">
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Modifier"><i class="fa fa-edit"></i></button>
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Supprimer"><i class="fa fa-times"></i></button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>


{% endblock %}
