{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-header">
    <h3 class="fw-bold mb-3">Produits</h3>
    <ul class="breadcrumbs mb-3">
    <li class="nav-home">
        <a href="{% url "home" %}">
        <i class="icon-home"></i>
        </a>
    </li>
    <li class="separator">
        <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
        <a href="#">Listes des Produits</a>
    </li>
    </ul>
</div>

{% comment %} Card {% endcomment %}

 <div class="row">
    <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
        <div class="card-body">
        <div class="row">
            <div class="col-5">
            <div class="icon-big text-center">
                <i class="icon-pie-chart text-warning"></i>
            </div>
            </div>
            <div class="col-7 col-stats">
            <div class="numbers">
                <p class="card-category">Total produits</p>
                <h4 class="card-title">248</h4>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
        <div class="card-body">
        <div class="row">
            <div class="col-5">
            <div class="icon-big text-center">
                <i class="icon-wallet text-success"></i>
            </div>
            </div>
            <div class="col-7 col-stats">
            <div class="numbers">
                <p class="card-category">Disponibles</p>
                <h4 class="card-title">1,240</h4>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
        <div class="card-body">
        <div class="row">
            <div class="col-5">
            <div class="icon-big text-center">
                <i class="icon-close text-danger"></i>
            </div>
            </div>
            <div class="col-7 col-stats">
            <div class="numbers">
                <p class="card-category">Indisponibles</p>
                <h4 class="card-title">23</h4>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
        <div class="card-body">
        <div class="row">
            <div class="col-5">
            <div class="icon-big text-center">
                <i class="icon-social-twitter text-primary"></i>
            </div>
            </div>
            <div class="col-7 col-stats">
            <div class="numbers">
                <p class="card-category">Catégories</p>
                <h4 class="card-title">12</h4>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

{% comment %} ------------------------------------------ {% endcomment %}

{% comment %} Bouton {% endcomment %}
<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
    <div class="ms-md-auto py-2 py-md-0">
        <a href="#" class="btn btn-label-info btn-round me-2">Rapports</a>
        <a href="{% url 'produit_create' %}" class="btn btn-primary btn-round me-2">Nouveau produit</a>
        <a href="{% url 'produit_update' 1 %}" class="btn btn-outline-secondary btn-round">Modifier un produit</a>
    </div>
</div>

{% comment %} ------------------------------------------ {% endcomment %}

<div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Multi Filter Select</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        id="multi-filter-select"
                        class="display table table-striped table-hover"
                      >
                        <thead>
                          <tr>
                            <th>Référence</th>
                            <th>Nom</th>
                            <th>Catégorie</th>
                            <th>Taille</th>
                            <th>Prix</th>
                            <th>Temps prép.</th>
                            <th>Disponible</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Référence</th>
                            <th>Nom</th>
                            <th>Catégorie</th>
                            <th>Taille</th>
                            <th>Prix</th>
                            <th>Temps prép.</th>
                            <th>Disponible</th>
                            <th>Actions</th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <tr>
                            <td>REF-0001</td>
                            <td>Poulet braisé</td>
                            <td>Plats</td>
                            <td>Moyen</td>
                            <td>4 500 FCFA</td>
                            <td>25 min</td>
                            <td><span class="badge badge-success">Oui</span></td>
                            <td>
                              <div class="form-button-action">
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Modifier"><i class="fa fa-edit"></i></button>
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Supprimer"><i class="fa fa-times"></i></button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>REF-0002</td>
                            <td>Thiéboudienne</td>
                            <td>Plats</td>
                            <td>Grand</td>
                            <td>3 500 FCFA</td>
                            <td>30 min</td>
                            <td><span class="badge badge-success">Oui</span></td>
                            <td>
                              <div class="form-button-action">
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Modifier"><i class="fa fa-edit"></i></button>
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Supprimer"><i class="fa fa-times"></i></button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>REF-0003</td>
                            <td>Jus de bissap</td>
                            <td>Boissons</td>
                            <td>Petit</td>
                            <td>500 FCFA</td>
                            <td>5 min</td>
                            <td><span class="badge badge-danger">Non</span></td>
                            <td>
                              <div class="form-button-action">
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Modifier"><i class="fa fa-edit"></i></button>
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Supprimer"><i class="fa fa-times"></i></button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>REF-0004</td>
                            <td>Dakar burger</td>
                            <td>Fast Food</td>
                            <td>Moyen</td>
                            <td>2 000 FCFA</td>
                            <td>15 min</td>
                            <td><span class="badge badge-success">Oui</span></td>
                            <td>
                              <div class="form-button-action">
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Modifier"><i class="fa fa-edit"></i></button>
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Supprimer"><i class="fa fa-times"></i></button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>REF-0005</td>
                            <td>Salade de fruits</td>
                            <td>Desserts</td>
                            <td>Petit</td>
                            <td>1 500 FCFA</td>
                            <td>10 min</td>
                            <td><span class="badge badge-success">Oui</span></td>
                            <td>
                              <div class="form-button-action">
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Modifier"><i class="fa fa-edit"></i></button>
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Supprimer"><i class="fa fa-times"></i></button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>REF-0006</td>
                            <td>Café touba</td>
                            <td>Boissons</td>
                            <td>Moyen</td>
                            <td>750 FCFA</td>
                            <td>5 min</td>
                            <td><span class="badge badge-danger">Non</span></td>
                            <td>
                              <div class="form-button-action">
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Modifier"><i class="fa fa-edit"></i></button>
                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Supprimer"><i class="fa fa-times"></i></button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>


{% endblock %}
